* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* apply styles to <header> */
  header {
    padding: 20px 35px;
    background-color: #0000;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #ffffff;
    margin: 0;
    display: inline;
  }

  /* apply styles to <nav> */
  header a {
    font-weight: bold;
    font-size: 18px;
    margin: 0 10px;
    display: inline-block;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #0000;
    text-align: center;
  }
  
  header nav {
    float: right;
    margin: 7px 0;
  }

  header nav li {
    display: inline-block;
    color: #ffffff;
  }
  
  header nav ul li {
    display: inline-block;
  }
    
  nav li:hover {
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
  }

  nav ul li a:hover {
    background-color: #808080;
    color: #ffffff;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;
  }

  /* apply styles to main */

  body {
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
  }

  h1 {
    text-align: center;
  }
  
  footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
  }
  
  footer h2 {
    display: inline;
    color: #808080;
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: #808080;
  }
  
  section {
    padding: 60px;
  }

  /* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}